In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv('Palm_beach_final_raw_data/rawData_pg_102-104_FL_palm_beach_county.csv')
final_df = pd.read_csv('FinalData/FL_PalmBeachCounty.csv')

raw_df.head()

,ParcelId,Owner Name,Property Address,Address,County,Property Value,Land Use
0,50-43-43-26-10-000-3060,RUDICK JENNIFER A & RUDICK ALBERT A & & RUDICK...,350 S OCEAN BLVD APT 306,PALM BEACH FL 33480 4462,Palm Beach,"$2,170,000",THREE FIFTY COND UNIT 306 ...
1,74-43-43-04-25-000-9070,A JOSHUA STONE I LLC,500 VILLAGE PARK DR,POWELL OH 43065 6647,Palm Beach,"$333,500",PALM BEACH HOUSE COND UNIT 907
2,00-42-45-01-22-001-0000,I GRAB LLC & & D GRAB LLC & A K GRAB LLC &,112 MACKENZIE ST,BROOKLYN NY 11235 2304,Palm Beach,"$1,009,663",MANGONE & SPIRK SELF STORAGE MUPD PL TWO PAR...
3,00-42-45-27-18-000-2220,I GRAB LLC & & D GRAB LLC & A K GRAB LLC &,174 VALENCIA H,DELRAY BEACH FL 33446 2052,Palm Beach,"$637,073",TIVOLI LAKES PUD LT 222
4,68-43-42-17-00-000-5050,A K INVESTMENT PROPERTIES LTD,KENNEDY WENDY C/O 172 CYPRESS TRCE,ROYAL PALM BEACH FL 33411 4707,Palm Beach,"$1,565,031","17-42-43, S 1/3 OF W 3/4 OF S 1/2 OF SW 1/4 O..."

In [8]:
#function to extract city, state and zip code
def extract_address_info(address):
    try:
        parts = address.split()
        if len(parts) >= 3:
            city = ' '.join(parts[:-3])
            state = parts[-3]
            zip_code = parts[-2]
            return city, zip_code, state,
        else:
            return None, None, None
    except Exception as e:
            return None, None, None

In [9]:
# Display the DataFrame
#print(df.head())
raw_df[['CITY', 'Zipcode', 'State' ]] = raw_df['Address'].apply(extract_address_info).apply(pd.Series)

# Drop the original 'Address' column if needed
raw_df = raw_df.drop('Address', axis=1)

print(raw_df.head())

                  ParcelId                                         Owner Name  \
0  50-43-43-26-10-000-3060  RUDICK JENNIFER A & RUDICK ALBERT A & & RUDICK...
1  74-43-43-04-25-000-9070                               A JOSHUA STONE I LLC
2  00-42-45-01-22-001-0000         I GRAB LLC & & D GRAB LLC & A K GRAB LLC &
3  00-42-45-27-18-000-2220         I GRAB LLC & & D GRAB LLC & A K GRAB LLC &
4  68-43-42-17-00-000-5050                      A K INVESTMENT PROPERTIES LTD

                     Property Address      County Property Value  \
0            350 S OCEAN BLVD APT 306  Palm Beach     $2,170,000
1                 500 VILLAGE PARK DR  Palm Beach       $333,500
2                    112 MACKENZIE ST  Palm Beach     $1,009,663
3                      174 VALENCIA H  Palm Beach       $637,073
4  KENNEDY WENDY C/O 172 CYPRESS TRCE  Palm Beach     $1,565,031

                                            Land Use              CITY  \
0   THREE FIFTY COND              UNIT 306       ...        PALM BEACH
1             PALM BEACH HOUSE COND         UNIT 907            POWELL
2   MANGONE & SPIRK SELF STORAGE MUPD PL TWO  PAR...          BROOKLYN
3                           TIVOLI LAKES PUD  LT 222      DELRAY BEACH
4   17-42-43, S 1/3 OF W 3/4 OF S 1/2 OF SW 1/4 O...  ROYAL PALM BEACH

  Zipcode State
0   33480    FL
1   43065    OH
2   11235    NY
3   33446    FL
4   33411    FL

In [10]:
raw_df = raw_df[['ParcelId', 'Owner Name', 'Property Address', 'CITY','County','Zipcode','State','Property Value','Land Use']]

In [11]:
raw_df.head()

,ParcelId,Owner Name,Property Address,CITY,County,Zipcode,State,Property Value,Land Use
0,50-43-43-26-10-000-3060,RUDICK JENNIFER A & RUDICK ALBERT A & & RUDICK...,350 S OCEAN BLVD APT 306,PALM BEACH,Palm Beach,33480,FL,"$2,170,000",THREE FIFTY COND UNIT 306 ...
1,74-43-43-04-25-000-9070,A JOSHUA STONE I LLC,500 VILLAGE PARK DR,POWELL,Palm Beach,43065,OH,"$333,500",PALM BEACH HOUSE COND UNIT 907
2,00-42-45-01-22-001-0000,I GRAB LLC & & D GRAB LLC & A K GRAB LLC &,112 MACKENZIE ST,BROOKLYN,Palm Beach,11235,NY,"$1,009,663",MANGONE & SPIRK SELF STORAGE MUPD PL TWO PAR...
3,00-42-45-27-18-000-2220,I GRAB LLC & & D GRAB LLC & A K GRAB LLC &,174 VALENCIA H,DELRAY BEACH,Palm Beach,33446,FL,"$637,073",TIVOLI LAKES PUD LT 222
4,68-43-42-17-00-000-5050,A K INVESTMENT PROPERTIES LTD,KENNEDY WENDY C/O 172 CYPRESS TRCE,ROYAL PALM BEACH,Palm Beach,33411,FL,"$1,565,031","17-42-43, S 1/3 OF W 3/4 OF S 1/2 OF SW 1/4 O..."

In [12]:
df_result = pd.concat([final_df, raw_df], ignore_index=True)

df_result.to_csv('FinalData/FL_PalmBeachCounty.csv',index=False)